@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --transparent: rgba(255, 255, 255, 0);
  --blue-500: rgba(59, 130, 246, 1);
  --blue-400: rgba(96, 165, 250, 1);
  --blue-300: rgba(147, 197, 253, 1);
  --indigo-300: rgba(165, 180, 252, 1);
  --violet-200: rgba(221, 214, 254, 1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --animate-aurora: aurora 60s linear infinite;
}

@keyframes aurora {
  from {
    background-position: 50% 50%, 50% 50%;
  }
  to {
    background-position: 350% 50%, 350% 50%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
